@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --green: #2f5249;
  --green1: #437057;
  --white: #ffffff;
  --yellow: #f8f387;
}

body {
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Arimo", Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Svgs */

.svg-container img {
  position: absolute;
}

.svg-container img[alt="dollarLogo"] {
  top: 360px;
  right: -231px;
}

.svg-container img[alt="cardLogo"] {
  top: 31px;
  left: -110.5px;
}

/* Card */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 110px;
}

/* Credit Card */
.card-container .credit-card-container {
  background-color: var(--green1);
  padding: 20px 20px 23px;
  position: relative;
  border-radius: 11px;
  width: 359px;
  z-index: 1;
}

.card-container .credit-card-container .card-logo-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.card-container .credit-card-container .info-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  color: var(--white);
  margin-bottom: 23px;
}

.card-container .credit-card-container .info-container .info:first-child {
  margin-bottom: 20px;
}

.card-container .credit-card-container .info-container h2 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 4px;
}

.card-container .credit-card-container .info-container p {
  font-size: 17px;
  font-weight: 400;
  margin: 0;
}

.card-container .credit-card-container .card-number-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container .credit-card-container .card-number-container .card-number {
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  border-radius: 5px;
  color: var(--green);
}

/* backCard */
.card-container .back-card-container{
  width: 400px;
  height: 246px;
  border: solid 1px var(--green);
  position: relative;
  background-color: var(--green1);
  border-radius: 11px;
  z-index: 1;
}
.card-container .back-card-container h3{
  color: var(--white);
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  position: absolute;
  top: 91px;
  right: 30px;
}
.card-container .back-card-container .yellow-tap{
  width: 100%;
  height: 81px;
  background-color: var(--yellow);
  position: absolute;
  top: 135px;
}

/* Form */
.form-container {
  background-color: var(--yellow);
  height: 566px;
  width: 400px;
  padding: 0 25px;
  border-radius: 11px;
  position: relative;
  top: -165px;
  padding-bottom: 14px;
}

.form-container .form-spacer {
  height: 190px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
}

.form-container form .input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.form-container form .input-container label {
  color: var(--green);
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 10px;
}

.form-container form .input-container input {
  border: solid 2px var(--green);
  border-radius: 5px;
  background-color: var(--yellow);
  padding: 9px 0 9px 21px;
  font-size: 16px;
  outline: none;
  color: var(--green);
}

.form-container form .input-container input::placeholder {
  color: var(--green);
  opacity: 70%;
  font-size: 16px;
}

.form-container form .input-container input[type='number']::-webkit-inner-spin-button,
.form-container form .input-container input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-container form .multi-inputs {
  display: flex;
  justify-content: space-between;
}

.form-container form .multi-inputs-date {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container form .multi-inputs-date span {
  margin: 0 8px;
  color: var(--green);
}

.form-container form .multi-inputs-date input {
  width: 40px;
}

.form-container form button[type="submit"] {
  background-color: var(--green);
  font-size: 24px;
  font-weight: 700;
  color: var(--yellow);
  padding: 17px 0;
  border: none;
  border-radius: 5px;
}

/* Message */
.message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white);
  position: relative;
  top: -135px;
}
.message-container h3 {
  font-size: 23.5px;
  font-weight: 700;
}

/* Loading */
.css-1txyin7-MuiLinearProgress-root{
  background-color: var(--green1) !important;
  outline: none !important;
}
.css-l16vtb-MuiLinearProgress-bar1{
  background-color: var(--yellow) !important;
}